.container {
  color: gray;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 2rem 1rem;
}

.default-screen {
  height: 8rem;
  overflow-y: auto;
}

.full-screen {
  max-height: 70dvh;
  overflow-y: auto;
}